.product-details {

    *:not(i) {
        font-family: 'Montserrat', sans-serif;
    }

    .nav.nav-tabs {
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }

    .nav-link {
        display: inline-block;
        background: #f8f8f8;
        box-shadow: none;
        border: none;
        outline: none;
        text-transform: uppercase;
        position: relative;
        padding: 10px !important;
        cursor: pointer;
        font-weight: 600 !important;
        font-size: 13px !important;
        line-height: 110%;
        transition: all 0.2s;

        &.active {
            background-color: transparent !important;
        }
    }

    .product__details__tab .nav-tabs li a {
       font-size: 13px !important;
    }

    .mp-payment-methods-header {
        margin-top: 10px;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: flex-start;
        padding: 0 4px 16px;
        width: 100%;
    }

    .mp-payment-methods-title {
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .mp-payment-methods-badge {
        align-items: center;
        background: #00a650;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 6px 8px 4px;
    }
    .mp-payment-methods-badge-text {
        align-items: center;
        background: #00a650;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        padding: 0px 10px;
        color: $white-color;
        font-size: 15px;
    }

    .mp-payment-methods-content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: flex-start;
        padding-bottom: 16px;
        width: 100%;
    }

    .mp-payment-methods-content payment-method-logo {
        padding: 0 4px 8px;
    }

    .mp-payment-method-logo-container {
        align-items: center;
        background: $white-color;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        padding: 4px;
        width: 55px;
    }
}